{% extends '@App/Operation/index.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block body %}
    <h1>add Page</h1>

    {% include '@App/Operation/formTemplate.html.twig' %}

    <button id="add" style="display: none" class="btn btn-primary glyphicon-plus">
        Add more operation
    </button>

{% endblock %}

